<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated roboconf-graph -->
      <package
            uri="http://roboconf.net/graph"
            class="roboconfgraph.RoboconfgraphPackage"
            genModel="model/roboconf-graph.genmodel"/>
   </extension>

</plugin>
