<?xml version="1.0" encoding="UTF-8"?>

<!--
   Copyright 2016-2017 Linagora, Université Joseph Fourier, Floralis

   The present code is developed in the scope of the joint LINAGORA -
   Université Joseph Fourier - Floralis research program and is designated
   as a "Result" pursuant to the terms and conditions of the LINAGORA
   - Université Joseph Fourier - Floralis research program. Each copyright
   holder of Results enumerated here above fully & independently holds complete
   ownership of the complete Intellectual Property rights applicable to the whole
   of said Results, and may freely exploit it in any manner which does not infringe
   the moral rights of the other copyright holders.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="net.roboconf.eclipse.modeler.RoboconfModelerPlugin"
               id="net.roboconf.eclipse.modeler"
	       name="graph">
    </component>
  </extension>
  
  
  <extension point="org.eclipse.ui.newWizards">
     <wizard
           category="net.roboconf.eclipse.plugin.wizards"
           class="net.roboconf.eclipse.modeler.wizards.NewModelProjectWizard"
           icon="icons/16x16/roboconf_16x16.jpg"
           id="net.roboconf.eclipse.modeler.graphs.project"
           name="Diagram Project for Roboconf Graphs"
           project="true">
        <description>
           Create an Eclipse modelling project for a Roboconf graph
        </description>
     </wizard>
   </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="net.roboconf.eclipse.modeler.actions.SetInstallerNameAction"
           id="net.roboconf.eclipse.modeler.set-installer-name">
     </javaActions>
     <javaActions
           actionClass="net.roboconf.eclipse.modeler.actions.SelectImageAction"
           id="net.roboconf.eclipse.modeler.select-image">
     </javaActions>
     <javaActions
           actionClass="net.roboconf.eclipse.modeler.actions.UnsetImageAction"
           id="net.roboconf.eclipse.modeler.unset-image">
     </javaActions>
     <javaActions
           actionClass="net.roboconf.eclipse.modeler.actions.ShowVariablesAction"
           id="net.roboconf.eclipse.modeler.show-variables">
     </javaActions>
     <javaActions
           actionClass="net.roboconf.eclipse.modeler.actions.ManageImportsAction"
           id="net.roboconf.eclipse.modeler.manage-imports">
     </javaActions>
     <javaActions
           actionClass="net.roboconf.eclipse.modeler.actions.ShowPropertiesAction"
           id="net.roboconf.eclipse.modeler.show-properties">
     </javaActions>
     <javaActions
           actionClass="net.roboconf.eclipse.modeler.actions.RenameTypeAction"
           id="net.roboconf.eclipse.modeler.rename-type">
     </javaActions>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="net.roboconf.eclipse.modeler"
           name="Roboconf">
     </category>
     <view
           category="net.roboconf.eclipse.modeler"
           class="net.roboconf.eclipse.modeler.views.VariablesView"
           icon="icons/16x16/roboconf_16x16.jpg"
           id="net.roboconf.eclipse.modeler.views.variablesView"
           name="Roboconf Variables">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="net.roboconf.eclipse.commands"
           defaultHandler="net.roboconf.eclipse.modeler.commands.CreateNewExportedVariableCommand"
           description="Create a new exported variable"
           id="net.roboconf.eclipse.modeler.createNewExportedVariableCommand"
           name="Create a new exported variable">
     </command>
     <command
           categoryId="net.roboconf.eclipse.commands"
           defaultHandler="net.roboconf.eclipse.modeler.commands.EditExportedVariableCommand"
           description="Edit an exported variable"
           id="net.roboconf.eclipse.modeler.editExportedVariableCommand"
           name="Edit an exported variable">
     </command>
     <command
           categoryId="net.roboconf.eclipse.commands"
           defaultHandler="net.roboconf.eclipse.modeler.commands.ManageImportedVariableCommand"
           description="Manage imported variables"
           id="net.roboconf.eclipse.modeler.manageImportedVariables"
           name="Manage Imported Variables">
     </command>
     <command
           categoryId="net.roboconf.eclipse.commands"
           defaultHandler="net.roboconf.eclipse.modeler.commands.DeleteExportedVariableCommand"
           description="Delete the selected variable"
           id="net.roboconf.eclipse.modeler.deleteExportedVariable"
           name="Delete an exported variable">
     </command>
     <command
           categoryId="net.roboconf.eclipse.commands"
           defaultHandler="net.roboconf.eclipse.modeler.commands.GenerateFilesCommand"
           id="net.roboconf.eclipse.modeler.generateFiles"
           name="Generate Files">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="toolbar:net.roboconf.eclipse.modeler.views.variablesView?after=additions">
        <command
              commandId="net.roboconf.eclipse.modeler.createNewExportedVariableCommand"
              hoverIcon="icons/16x16/new_16x16.gif"
              icon="icons/16x16/new_16x16.gif"
              label="New Exported Variable"
              style="push"
              tooltip="Create a new exported variable">
        </command>
        <command
              commandId="net.roboconf.eclipse.modeler.editExportedVariableCommand"
              icon="icons/16x16/editor_16x16.gif"
              label="Edit the Exported Variable"
              style="push"
              tooltip="Edit the exported variable">
        </command>
        <command
              commandId="net.roboconf.eclipse.modeler.deleteExportedVariable"
              icon="icons/16x16/delete_16x16.gif"
              label="Delete the Exported Variable"
              style="push"
              tooltip="Delete an exported variable">
        </command>
         <command
              commandId="net.roboconf.eclipse.modeler.manageImportedVariables"
              icon="icons/16x16/manage_16x16.gif"
              label="Manage Imported Variables"
              style="push"
              tooltip="Manage imported variables">
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="popup:net.roboconf.eclipse.actions?after=additions">
        <command
              commandId="net.roboconf.eclipse.modeler.generateFiles"
              label="Generate Files"
              style="push">
              
              <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="graph-ui">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.emf.validation.constraintProviders">
     <constraintProvider
           cache="true">
        <package
              namespaceUri="http://roboconf.net/eclipse/emf">
        </package>
        <constraints
              categories="net.roboconf.eclipse.modeler.emfconstraints">
           <constraint
                 class="net.roboconf.eclipse.modeler.emfconstraints.InheritanceConstraint"
                 id="net.roboconf.eclipse.modeler.InheritanceConstraint"
                 isEnabledByDefault="true"
                 lang="java"
                 mode="Batch"
                 name="Verify constraints about direct inheritance"
                 severity="ERROR"
                 statusCode="1">
              <message>
                 {0}
              </message>
              <target
                    class="RoboconfFacet">
              </target>
           </constraint>
           <constraint
                 class="net.roboconf.eclipse.modeler.emfconstraints.TransitiveInheritanceConstraint"
                 id="net.roboconf.eclipse.modeler.TransitiveInheritanceConstraint"
                 isEnabledByDefault="true"
                 lang="java"
                 mode="Batch"
                 name="A facet or a component cannot directly or indirectly inherit from themsleves"
                 severity="ERROR"
                 statusCode="1">
              <message>
                 {0}
              </message>
              <target
                    class="RoboconfFacet">
              </target>
           </constraint>
           <constraint
                 class="net.roboconf.eclipse.modeler.emfconstraints.TransitiveParentshipConstraint"
                 id="net.roboconf.eclipse.modeler.SelfParentshipConstraint"
                 isEnabledByDefault="true"
                 lang="java"
                 mode="Batch"
                 name="A facet or a component cannot directly or indirectly have themselves as a children"
                 severity="ERROR"
                 statusCode="1">
              <message>
                 {0}
              </message>
              <target
                    class="RoboconfFacet">
              </target>
           </constraint>
           <constraint
                 class="net.roboconf.eclipse.modeler.emfconstraints.SelfDependencyConstraint"
                 id="net.roboconf.eclipse.modeler.SelfDependencyConstraint"
                 isEnabledByDefault="true"
                 lang="java"
                 mode="Batch"
                 name="A facet or a component cannot have a dependency to themselves unless the dependency is optional"
                 severity="ERROR"
                 statusCode="1">
              <message>
                 {0}
              </message>
              <target
                    class="RoboconfFacet">
              </target>
           </constraint>
           <constraint
                 class="net.roboconf.eclipse.modeler.emfconstraints.UniqueNameConstraint"
                 id="net.roboconf.eclipse.modeler.UniqueNameConstraint"
                 isEnabledByDefault="true"
                 lang="java"
                 mode="Batch"
                 name="Roboconf types must have a unique name within the graph(s)"
                 severity="ERROR"
                 statusCode="1">
              <message>
                 {0}
              </message>
              <target
                    class="RoboconfFacet">
              </target>
           </constraint>
           <constraint
                 class="net.roboconf.eclipse.modeler.emfconstraints.CheckCoherenceOfRuntimeLinkConstraint"
                 id="net.roboconf.eclipse.modeler.CheckCoherenceOfRuntimeLinkConstraint"
                 isEnabledByDefault="true"
                 lang="java"
                 mode="Batch"
                 name="Verify the drawn runtime relations are coherent with imported variables"
                 severity="ERROR"
                 statusCode="1">
              <message>
                 {0}
              </message>
              <target
                    class="RoboconfComponent">
              </target>
           </constraint>
           <constraint
                 class="net.roboconf.eclipse.modeler.emfconstraints.VerifyImportedVariablesContraint"
                 id="net.roboconf.eclipse.modeler.VerifyImportedVariablesContraint"
                 isEnabledByDefault="true"
                 lang="java"
                 mode="Batch"
                 name="Verify imported variables refer to existing ones (when they are not external)"
                 severity="ERROR"
                 statusCode="1">
              <message>
                 {0}
              </message>
              <target
                    class="RoboconfComponent">
              </target>
           </constraint>
           <constraint
                 class="net.roboconf.eclipse.modeler.emfconstraints.InstallerNameConstraint"
                 id="net.roboconf.eclipse.modeler.InstallerNameContraint"
                 isEnabledByDefault="true"
                 lang="java"
                 mode="Batch"
                 name="Verify components have an installer name"
                 severity="ERROR"
                 statusCode="1">
              <message>
                 {0}
              </message>
              <target
                    class="RoboconfComponent">
              </target>
           </constraint>
           <constraint
                 class="net.roboconf.eclipse.modeler.emfconstraints.TypeNameConstraint"
                 id="net.roboconf.eclipse.modeler.TypeNameConstraint"
                 isEnabledByDefault="true"
                 lang="java"
                 mode="Batch"
                 name="Type names cannot be empty and must respect a given pattern"
                 severity="ERROR"
                 statusCode="1">
              <message>
                 {0}
              </message>
              <target
                    class="RoboconfFacet">
              </target>
           </constraint>
        </constraints>
     </constraintProvider>
     <category
           id="net.roboconf.eclipse.modeler.emfconstraints"
           mandatory="true"
           name="EMF Constraints for Roboconf OCCI Model">
     </category>
  </extension>
</plugin>
