<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.roboconf.eclipse.plugin.editors.instances.RoboconfInstancesEditor"
            contributorClass="net.roboconf.eclipse.plugin.editors.commons.editors.RoboconfTextEditorActionContributor"
            extensions="instances"
            icon="icons/roboconf_16x16.jpg"
            id="net.roboconf.eclipse.plugin.editors.RoboconfInstancesEditor"
            name="Roboconf Instances Editor">
      </editor>
      <editor
            class="net.roboconf.eclipse.plugin.editors.graphs.RoboconfGraphEditor"
            contributorClass="net.roboconf.eclipse.plugin.editors.commons.editors.RoboconfTextEditorActionContributor"
            extensions="graph"
            icon="icons/roboconf_16x16.jpg"
            id="net.roboconf.eclipse.plugin.editors.RoboconfGraphEditor"
            name="Roboconf Graph Editor">
      </editor>
      <editor
            class="net.roboconf.eclipse.plugin.editors.rules.autonomic.AutonomicRulesEditor"
            contributorClass="net.roboconf.eclipse.plugin.editors.commons.editors.RoboconfTextEditorActionContributor"
            extensions="drl"
            icon="icons/rule_16x16.gif"
            id="net.roboconf.eclipse.plugin.editors.RoboconfRulesEditor"
            name="Roboconf Rules Editor">
      </editor>
      <editor
            class="net.roboconf.eclipse.plugin.editors.commands.RoboconfCommandsEditor"
            contributorClass="net.roboconf.eclipse.plugin.editors.commons.editors.RoboconfTextEditorActionContributor"
            extensions="commands"
            icon="icons/commands_16x16.gif"
            id="net.roboconf.eclipse.plugin.editors.RoboconfCommandsEditor"
            name="Roboconf Commands Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.roboconf.eclipse.plugin.wizards"
            name="Roboconf">
      </category>
      <wizard
            category="net.roboconf.eclipse.plugin.wizards"
            class="net.roboconf.eclipse.plugin.wizards.NewProjectWizard"
            hasPages="true"
            icon="icons/roboconf_16x16.jpg"
            id="net.roboconf.eclipse.plugin.wizard"
            name="Roboconf Project"
            project="true">
      </wizard>
   </extension>

</plugin>
